/*
Base Style file for Mobile Rice planner
Additions by Hemmo de Vries, Luc Gommans & Alex van Herwijnen


                                  "-._
        ______________________---"__,-'___  __________________________________
    _,-'/| #### | |              ####     || _  ______________________________
 _-'            | |                       |||O||____||____||____||_____||_____
(_----------------------------------------|||_|-------------------------------
 \------(o)~~~~(o)------------(o)~~~~(o)--'`---(o)~~~(o)----------------------
 
		Built by people who like trains.

		
*/

/* Theme Colour Definitions*/

:root {
    --main-color:#4CA0FF; /* Main or Background colour */
	--darker-color:#1468C5; /* Secondary Colour, used for e.g. navigation & header. Use darker tone to main colour on color.adobe.com 'shadows' */
	--darkest-color:#163E7A; /* Tertiary Colour, used for e.g. text and links. Use darker tone as main colour on color.adobe.com 'shadows', and then pick the darkest colour */
	--lighter-color:#B2D6FF; /* Brighter Colour, used for subpage headers. Use the main tone as main colour on color.adobe.com 'complementary', and then pick the brightest, slightly differently shaded colour */
	--lightest-color:#E2F0FF; 
    --alternative-main-color:#931991; /* Alternative Main or Background colour */
	--alternative-lighter-color:#C44BC2; /* Alternative Brighter Colour, used for subpage headers. Use the main tone as main colour on color.adobe.com 'complementary', and then pick the brightest, slightly differently shaded colour */
}


/* Header / Footer Assets */
body {
    margin: 0px;
    color: #000;
    padding: 0px;
    /* font-family: helvetica,arial,sans-serif; */
	font-family: "Lato";
	font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: var(--main-color)
    /* 	transform: skewX(-0.223deg);  op een dag zetten we deze aan en wachten we tot mensen op twitter gaan huilen*/
}

#hbar {
    margin: 0;
    min-height: 23px;
    width: 100%;
    background-color: #333;
}

#menu {
    margin: 0;
    padding: 0;
    width: 100%;
}

    #menu li {
        display: inline-block;
        list-style: none;
        min-height: 24px;
        vertical-align: bottom;
        /* border-left: 1px solid var(--main-color); */
        margin: 0px;
        padding-left: 6px;
        padding-right: 6px;
    }

    #menu a {
        vertical-align: bottom;
        color: #fff;
        text-decoration: none;
        font-size: small;
    }

    #menu li.active {
        background-color: #ccc;
        padding-left: 6px;
        padding-right: 6px;
        margin: 0px;
    }

        #menu li.active a {
            color: #000;
            
            text-decoration: none;
        }

#heading {
    margin: 0px;
    background-color: var(--darker-color);
    padding: 0px;
    border: none;
}

#headingTitle {
    min-height: 32px;
    margin: 0px;
    padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	
}

#headingTitle h2 a {
	color: #fff;
}

#topimg {
    display: block;
    height: 0px;
    width: 100%;
}

#page {
    margin: 0px;
    min-height: 8em;
    padding: 0px;
    color: #000;
    background-color: #ccc;
    clear: both;
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 2px;
}

.clear {
    clear: both;
}

#footer {
    padding-left: 5px;
}

.stations {
    display: none;
	/* This is the datalist */
}

/* Shared assets */     
.drop {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    padding: 10px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
	border-radius: 7.5px;
}

.drop a {
    font-weight: bold;
}

.drop.noboldlinks a {
	font-weight: normal;
}

.drop-red {
    margin: 2px;
    padding: 10px;
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 30px;
    margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	/* This one is for page titles (outside of drop class) */
	font-size: 30px;
    margin: 0;
     
	margin-top: 10px;
	margin-bottom: 15px;
}
h2 a {
	text-decoration: none;
	color: #000;
}

h3, .account-drop h3 {
	/* This one is for titles of disruptions or news posts etc */
    font-size: 18px;
    margin: 0;
}

table {
    border-spacing: 0px;
    width: 100%;
}

td {
    /* font-size:small; */
}

a {
    color: #000;
    text-decoration: underline;
}

.red {
    color: red !important;
    font-weight: bold;
}

.red-unimportant {
    color: red !important;
}

img {
    border: none;
    margin: 0;
}



#redAlertBox {
    margin: 2px;
    background-color: red;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.redAlert {
    color: white;
    font-weight: bold;
}

.disruption {
    padding: 15px;
    line-height: 1.5;
}

#overview {
    line-height: 1.5;
    margin: 0;
}

    #overview a {
        text-decoration: none;
    }



.extendedform {
    display: table-cell;
    display: none;
}

.locateme {
    margin-top: -9px;
    cursor: pointer;
}

.via a {
    text-decoration: none;
}

.nouline {
    text-decoration: none;
}

.hide {
    display: none;
}

/* Planner / Index page assets */
.planner-form-item-container {
    display: block;
    min-height: 30px;
    margin-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
}
.planner-form-item-container-container {
    display: block;
    min-height: 35px;
    margin-bottom: 5px;
	}
.planner-form-item-container-halfwidth {
    width: 50%;
    float: left;
}

.planner-form-item-container-halfwidth-left {
    width: -webkit-calc(50% - 5px);
    width: -moz-calc(50% - 5px);
    width: calc(50% - 5px);
    padding-right: 5px;
}

.planner-form-item-label {
    float: left;
    width: 90px;
    min-height: 35px;
    margin-right: 0px;
    border: 0px solid #000;
    border-right: 0px;
    background-color: #EEE;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

    .planner-form-item-label label {
        font-size: 1.33em;
        margin-left: 10px;
        margin-top: 6px;
        width: 100%;
        display: block;
    }

.planner-form-item-input {
    background-color: #fff;
    display: block;
    overflow: hidden;
    min-height: 35px;
    border: 0px solid #000;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}

    .planner-form-item-input input {
        width: 100%;
        height: 35px;
        border: 0px;
        font-size: 1.33em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 10px;
        padding-top: 4px;
    }

.planner-form-radiobuttons-container {
	min-height: 44px;
	margin-bottom: 7px;
}

.planner-form-item-submit {    
    height: 35px;
    border: 0px;
    font-size: 1.33em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 4px;
    background-color: #fff;
    border: 1px solid #000;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.form-switch-field {
	
	min-height: 35px;

}

.form-switch-field input {
	display: none;
}

.form-switch-field label {
	float: left;
}

.form-switch-field label {
	display: inline-block;
    width: -webkit-calc(50% - 33px);
    width:    -moz-calc(50% - 33px);
    width:         calc(50% - 33px);
	background-color: #EEE;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 6px 14px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
	font-size: 1.33em;
}

.form-switch-field label:hover {
	cursor: pointer;
}

.form-switch-field input:checked + label {
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 2px solid #000;
}

.form-switch-field label:first-of-type {
	border-radius: 5px;
	margin-right: 5px;
}

.form-switch-field label:last-of-type {
	border-radius: 5px;
	width:         calc(50% - 28px);
	
}

.departures-form-item-container {
    display: block;
    min-height: 35px;
    margin-bottom: 10px;
        width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);
    width: calc(100% - 0px);
	padding-left: 0px;
	padding-right: 0px;
}


.departures-form-item-input-wrapper {
    display: block;
    overflow: hidden;
    min-height: 35px;
    border-right: 0px;
    padding-right: 1px;
    border: solid 0px #000;
}

.departures-form-item-input {
    background-color: #fff;
    display: block;
    float: left;
    width: -webkit-calc(100% - 88px);
    width: -moz-calc(100% - 88px);
    width: calc(100% - 88px);
}

    .departures-form-item-input input {
        width: -webkit-calc(100% - 10px);
        width: -moz-calc(100% - 10px);
        width: calc(100% - 10px);
        height: 35px;
        border: 0px;
        font-size: 1.33em;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        padding-left: 10px;
        padding-top: 4px;
        background-color: #fff;
    }

    
.departures-form-item-submit {
    display: inline-block;
    width: 88px;
    min-height: 35px;
    margin-right: 0px;
    border: 0px solid #000;
    border-right: 0px;
    background-color: transparent;
}


.departures-form-item-submit input {
    width: 88px;
    height: 35px;
    border: 0px;
    font-size: 1.33em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding-left: 10px;
    padding-top: 4px;
    background-color: #fff;
    border: 1px solid #000;
	    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inline {
    display: inline;
}

.indent {
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Disruptions Map Assets */

.disruptions-map-container {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
}

/* Assets shared between Departures and Planner page */ 


.cancelled, .cancelled a {
	text-decoration: line-through;
	color: grey;
}

    .has-geolocation input {
        width: calc(100% - 32px);
    }

    .has-geolocation.has-suggestions-list input {
        text-decoration: underline;
        cursor: pointer;
    }

    .has-geolocation input,
    .has-geolocation a.geolocate-button,
    .has-geolocation span.loading-indicator {
        vertical-align: middle;
    }

    .has-geolocation a.geolocate-button,
    .has-geolocation span.loading-indicator {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .has-geolocation span.loading-indicator,
    .has-geolocation.geolocation-active a.geolocate-button {
        display: none;
    }

    .has-geolocation a.geolocate-button {
        background: url("../img/ic_location_black_20pt.png") no-repeat center;
        cursor: pointer;
    }

    .has-geolocation.geolocation-active span.loading-indicator {
        display: inline-block;
        /* This fancy gif was generated on http://loading.io */
        background: url("../img/geolocate-light.gif") no-repeat center;
    }

    div.suggestions {
        display: block;
        /*overflow: hidden;*/
        min-height: 100px;
        border: 0px solid #000;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 0px;
    }

        div.suggestions ul {
            margin: 0;
        }

            div.suggestions ul li {
                font-size: 1.33em;
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                -moz-box-sizing: border-box; /* Firefox, other Gecko */
                box-sizing: border-box; /* Opera/IE 8+ */
                padding: 4px 10px;
                list-style: none;

				cursor: pointer;
				
            }
			
			
/* News / About page assets */ 

#colofon {
    text-decoration: none;
}

.newspost {
    padding: 15px;
    line-height: 1.5;
}

.newspost-showhide {
    display: none;
}

#page form {
		max-width: 650px;
}


div.container {
    max-width: 650px;
    margin: 0 auto;
}





/* Begin NL file */






/*
Reisplanner mobiel stijlbestand, op basis van het origineel via archive.org 
Toevoegingen door hemmofa en Luc Gommans
*/
body {
    color: var(--darkest-color);
}

#hbar {
    background-color: var(--darker-color);
}

    #menu a {
        color: #fff;
		font-size: 1.25em;
    }

	#menu li {
	padding-top: 5px;
	}
			
    #menu li.active {
        background-color: var(--main-color);
		
    }

        #menu li.active a {
            color: #000;
        }

#page {
    color: var(--darkest-color);
    background-color: var(--main-color);
}

.drop {
    color: var(--darkest-color);
}

a {
    color: var(--darkest-color);
}

.departure:nth-child(odd) {
    background-color: var(--lighter-color);
}

#topimg {
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('../img/topbarnieuw.jpg');
    background-size: cover;
	height: 120px;
}



    .planner-form-item-label label {
        color: #000;
    }

	.form-switch-field label {
    background-color: var(--lighter-color);
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
/* Style additions for Food Planner */
	
	
	.newlistitem-form-item-container {
    display: block;
    min-height: 35px;
    margin-bottom: 10px;
        width: -webkit-calc(100% - 3px);
    width: -moz-calc(100% - 3px);
    width: calc(100% - 3px);
	padding-left: 0px;
	padding-right: 0px;
}


.newlistitem-form-item-input-wrapper {
    display: block;
    overflow: hidden;
    min-height: 35px;
    border-right: 0px;
    padding-right: 1px;
    border: solid 0px #000;
}

.newlistitem-form-item-input {
    background-color: #fff;
    display: block;
    float: left;
    width: -webkit-calc(100% - 88px);
    width: -moz-calc(100% - 88px);
    width: calc(100% - 88px);
}

    .newlistitem-form-item-input input {
        width: -webkit-calc(100% - 0px);
        width: -moz-calc(100% - 0px);
        width: calc(100% - 0px);
        height: 35px;
        border: 0px;
        font-size: 1.33em;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        padding-left: 10px;
        padding-top: 4px;
        background-color: #fff;
    }

    
.newlistitem-form-item-submit {
    display: inline-block;
    width: 88px;
    min-height: 35px;
    margin-right: 0px;
    border: 0px solid #000;
    border-right: 0px;
    background-color: transparent;
}


.newlistitem-form-item-submit input {
    width: 88px;
    height: 35px;
    border: 0px;
    font-size: 1.33em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding-left: 10px;
    padding-top: 4px;
    background-color: #fff;
    border: 1px solid #000;
	    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.drop-empty {
    margin: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
	text-align: center;
	border-radius: 7.5px;

}

.drop-half:nth-child(odd) {
margin: 0;
margin-left: -2px;
background-color: #fcf;
width:319px;
}
.drop-half:nth-child(even) {
	width: 320px;
background-color: #fcc;
margin-left: 5px;
}
.drop-half {
height: 220px;
	display: inline-block;
    margin: 0px;
    margin-bottom: 1px;	
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
	line-height: 220px;
	text-align: center;
}
.drop-half span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
	font-size: 24px;
}


/* Account styling */
.account-holder {
	
}

.account-header {
background-color: var(--lighter-color);
margin-bottom: 2px;
min-height: 73px;
border-bottom-right-radius: 7.5px;
border-bottom-left-radius: 7.5px;
}

#menu li.active-account{
		background-color: var(--lighter-color);
		padding-left: 6px;
		padding-right: 6px;
		margin: 0px;
	}

#menu li.active-account a {
	color: #000;
	text-decoration: none;
}	


#menu li.active-list{
		background-color: #fff;
		padding-left: 6px;
		padding-right: 6px;
		margin: 0px;
	}

#menu li.active-list a {
	color: #000;
	text-decoration: none;
}

#menu li.active-dishes{
		background-color: #fff;
		padding-left: 6px;
		padding-right: 6px;
		margin: 0px;
	}

#menu li.active-dishes a {
	color: #000;
	text-decoration: none;
}
#menu li.active-dish{
		background-color: var(--lighter-color);
		padding-left: 6px;
		padding-right: 6px;
		margin: 0px;
	}

#menu li.active-dish a {
	color: #000;
	text-decoration: none;
}

.account-header-container {
	padding: 7px;
}

.account-usericon {
	width:50px;
	height:50px;
	border-radius:5px;
	font-size:25px;
	color:#fff;
	line-height:55px;
	text-align:center;
	background:var(--darker-color);
	margin: 15px;
	float: left;
   }

.account-usericon-happy {
	width:50px;
	height:50px;
	border-radius:5px;
	color:#fff;
	text-align:center;
	background: url('../img/icons/ic_mood_black_48dp.png') no-repeat;
	background-size: cover;
	background-color:var(--darker-color);
	margin: 15px;
	float: left;
	line-height: 0; 
    font-size: 0;
    color: transparent; 
   }

a.account-edit{
	float: right;
	width:50px;
	margin: 5px;
	height:50px;
	border-radius:5px;
	color:#fff;
	text-align:center;
	background: url('../img/icons/ic_mode_edit_white_48dp.png') no-repeat;
	background-size: cover;
	background-color:var(--darker-color);
	line-height: 0; 
    font-size: 0;
    color: transparent; 
   }
   
.account-header .account-username {
float: left;
margin-left: 7px;
text-align: right;
min-height: 50px;
}
.account-header .account-username h3 {
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 25px;
	color: #000;
}

.account-drop {
	background-color: #fff;
	margin-bottom: 2px;
	margin-left: -0px;
	margin-right: -0px;
	padding: 7px;
	padding-bottom: 0px;
	border-radius: 7.5px;
}
.account-drop:last-child {
}

.account-dropjes h3 {
	font-weight: 600;
	font-size: 15px;
		color: #777;
		padding-left: 5px;
		margin-bottom: 5px;
}

	
.account-setting {

	border-bottom: 0px solid var(--darker-color);
	margin: 0px;
	margin-left: -0px;
	margin-right: -0px;
	margin-bottom: 0px;
	margin-top: 1px;
	padding: 0px;

}

.account-setting a {
	display: block;
	text-decoration: none;
	background-color: #fff;
	width: auto;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	margin-left: -7px;
	margin-right: -7px;
	
}
.account-setting a:hover {
	background-color: #eee;
}
.account-setting a:active {
	background-color: #ccc;
}

.account-setting:last-child {
	margin-bottom: 0px;
}
.account-setting span {
	display : block;
	font-weight: bold;
}



/* Admin Styling */

.admin-header {
background-color: var(--alternative-lighter-color);
margin-bottom: 1px;
min-height: 73px;
}

#menu li.active-admin{
		background-color: var(--alternative-lighter-color);
		padding-left: 6px;
		padding-right: 6px;
		margin: 0px;
	}
#menu li.active-admin a {
	color: #000;
	text-decoration: none;
}	

.admin-header-container {
	padding: 7px;
}


.admin-header .admin-username {
float: left;
margin-left: 7px;
text-align: right;
min-height: 50px;
}
.admin-header .admin-username h3 {
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 25px;
	color: #000;
}

.admin-drop {
	background-color: #fff;
	margin-bottom: 1px;
	margin-left: -0px;
	margin-right: -0px;
	padding: 7px;
	padding-bottom: 0px;
}
.admin-drop:last-child {
}

.admin-drop h3 {
	font-weight: 600;
	font-size: 15px;
		color: #777;
		padding-left: 5px;
		margin-bottom: 5px;
}


/* Generic Page Styling */

.generic-header {
background-color: var(--lighter-color);
margin-bottom: 1px;
min-height: 73px;
}

#menu li.active-generic{
		background-color: var(--lighter-color);
		padding-left: 6px;
		padding-right: 6px;
		margin: 0px;
	}
#menu li.active-generic a {
	color: #000;
	text-decoration: none;
}	

.generic-header-container {
	padding: 7px;
}


.generic-header .generic-username {
float: left;
margin-left: 7px;
text-align: right;
min-height: 50px;
}
.generic-header .generic-username h3 {
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 25px;
	color: #000;
}

.generic-drop {
	background-color: #fff;
	margin-bottom: 1px;
	margin-left: -0px;
	margin-right: -0px;
	padding: 7px;
	padding-bottom: 0px;
}
.generic-drop:last-child {
}

.generic-drop h3 {
	font-weight: 600;
	font-size: 15px;
		color: #777;
		padding-left: 5px;
		margin-bottom: 5px;
}



/* End of page specific styling */


.dishitem-header {
background-color: var(--lighter-color);
margin-bottom: 1px;
min-height: 73px;
}


.dishitem-header-container {
	padding: 7px;
}

.dishitem-header-usericon {
	width:50px;
	height:50px;
	border-radius:5px;
	font-size:25px;
	color:#fff;
	line-height:55px;
	text-align:center;
	background:var(--darker-color);
	margin: 15px;
	float: left;
   }

.dishitem-header-usericon-happy {
	width:50px;
	height:50px;
	border-radius:5px;
	color:#fff;
	text-align:center;
	background: url('../img/icons/ic_mood_black_48dp.png') no-repeat;
	background-size: cover;
	background-color:var(--darker-color);
	margin: 15px;
	float: left;
	line-height: 0; 
    font-size: 0;
    color: transparent; 
   }

a.dishitem-header-edit{
	float: right;
	width:50px;
	margin: 5px;
	height:50px;
	border-radius:5px;
	color:#fff;
	text-align:center;
	background: url('../img/icons/ic_mode_edit_white_48dp.png') no-repeat;
	background-size: cover;
	background-color:var(--darker-color);
	line-height: 0; 
    font-size: 0;
    color: transparent; 
   }
   
.dishitem-header .dishitem-header-dishname {
float: left;
margin-left: 7px;
text-align: left;
height: 73px;
overflow: hidden;

margin-top: -7px;
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 68px);
}
.dishitem-header-dishname-container {
	 
    min-height: 73px;
	display: block;
    float: left;
    position:relative;  /* coord system stop */
    top:0px;
    width: -webkit-calc(100% - 68px);
    width: -moz-calc(100% - 68px);
    width: calc(100% - 68px);
	max-height: 25px;
	padding-top: 36px;
}
.dishitem-header .dishitem-header-dishname h3 {
	font-size: 25px;
	color: #000;
	
    position: absolute;
    text-align: left;
    
    -webkit-transform: translateY(-50%); /* child now centers itself relative to the midline based on own contents */
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);    

}
.dishitem-title {
    width: -webkit-calc(100% - 27px);
    width: -moz-calc(100% - 27px);
    width: calc(100% - 27px);


}
.dishitemoptions {
	float: right;
	right: 0px;
	height: 25px;
	min-width: 25px;
	padding: 0;
	margin: 0;
	margin-top: -7px;
	
}

.dishitemoptions a {
	float: right;
	width:30px;
	padding-left: 5px;
	padding-right: 5px;
	height:30px;
	color:#fff;
	text-align:center;
	line-height: 0; 
    font-size: 0;
    color: transparent; 
	
	margin-right: -7px;
	margin-left: 7px;
   }
.dishitemoptions a.button-addtolist {
	background: url('../img/icons/ic_playlist_add_black_48dp.png') no-repeat;
	background-size: contain;
	background-repeat: no-repeat;
	 background-position: center; 
}
.dishitemoptions a.button-remove {
	background: url('../img/icons/ic_delete_black_48dp.png') no-repeat;
	background-size: contain;
	background-repeat: no-repeat;
	 background-position: center;}
	 
a.button-deactivate {
	background: url('../img/icons/ic_thumb_down_black_48dp.png') no-repeat;
	background-size: contain;
	background-repeat: no-repeat;
	 background-position: center;}
	 
a.button-activate {
	background: url('../img/icons/ic_thumb_up_black_48dp.png') no-repeat;
	background-size: contain;
	background-repeat: no-repeat;
	 background-position: center;}
	 
.admin-only { 
background-color: #f0f !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}	 
.admin-only-flair { 
background-color: #f0f !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.5em;
	font-weight: bold;
	position: relative; top: -5px;
	
}
.drop-disabled
{
	background-color: #ccc !important;
}

 
.settings-input {
/* .settings-input[type="password"] { */
    min-height: 35px;
    background-color: #fff;
    border: 1px solid var(--darker-color);
	margin: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.33em;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 4px;
	margin-bottom: 15px;
	width: calc(100% - 10px);
	color: var(--darker-color);

}

.settings-input[type="submit"] {
	border-color: var(--darker-color);
}


.settings-input:hover {
	background-color: #eee;
}
.settings-input:active {
	background-color: #ccc;
}

.rating-icon {
	width: 48px;
	height: 48px;
}


.rating-inactive {
opacity: 0.5; 
}

.lighttext { font-weight: 100 !important; 
display: inline-block !important;
font-size: 0.75em;
}

.account-setting a.settings-input {
	margin-left: 5px !important;
	margin-right: 5px !important;
	}

	
	
	/* HeisaCast Additions 14-01-2018 */	
	
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  float: left;
  width: 60px;
  height: 34px;
 
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--main-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switchlabel {
height: 34px;
padding-left: 15px;
display: inline-block;
line-height: 34px;
font-size: 24px;
}

.showfade {
  transition: opacity 400ms;
}
.hidefade {
  opacity: 0;
}
.heisacashcarddisplay {
	background-image: url('../img/icons/icon_carddisplay.png');
    background-repeat: no-repeat;
    background-position: 15px center; 
	padding-left: 125px;
}
.heisacashcardreader {
	background-image: url('../img/icons/icon_cardreader.png');
    background-repeat: no-repeat;
    background-position: 15px center; 
	padding-left: 125px;
}
.heisacastplayout {
	background-image: url('../img/icons/icon_tvscreen.png');
    background-repeat: no-repeat;
    background-position: 15px center; 
	padding-left: 125px;
}

.statusitem {
	border-bottom: 1px solid var(--lighter-color);
	margin-bottom: 5px;
	background-color: var(--lightest-color);
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.statusvalue {
	list-style-type: none;
	text-decoration: none;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.25em;
	font-weight: bold;
}
.statustitle {
	font-size: 1em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.clickableitem {
	border-bottom: 0px solid var(--darker-color);
	margin: 0px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0px;
	margin-top: 1px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.clickabletitle {
	list-style-type: none;
	text-decoration: none;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.25em;
	font-weight: bold;
}
.clickabledescription {
	font-size: 1em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.clickableitem:hover {
	background-color: #eee;
	cursor: pointer;
}
.clickableitem:active {
	background-color: #ccc;
}

.clickableitem:last-child {
	margin-bottom: -10px;
	border-bottom-right-radius: 7.5px;
	border-bottom-left-radius: 7.5px;
}


#contentloaded {
display: none;
}
#contentnotloaded {
}


.rangeslider {
    width: calc(100% - 7px);
	-webkit-appearance: none;
    height: 25px;
    background: var(--lighter-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeslider:hover {
    opacity: 1;
}

.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--main-color);
    cursor: pointer;
}

.rangeslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--main-color);
    cursor: pointer;
}
